button:focus {
	outline:none;
}

input:focus {
	outline:none;
}

#recruitingTab > p {
	font-size: 12px;
}

#recruitingTab > p > input {
	width: 30px;
	height: 8px;
	font-size: 10px;
}

#recruitingTab > p > button {
	width: 75px;
	float: right;
}

#dispResources > p {
	float: right;
	margin-right: 20px;
	margin-top: 5px;
}

#villageShop > button {
	width: 100%;
	margin-top: 20px; 
}

#s_p_r_rpgTab {
	width: 700px;
	height: 700px;
	border: 8px outset green;
	border-radius: 8px;
	position: relative;
	background-color: white;
}

#recruitingTab {
	border-left: 8px outset green;
	border-top: 8px inset green;
	border-top-left-radius: 8px;
	width: 160px;
	height: 133px;
	float: right;
	position: absolute;
	bottom: 0;
	right: 0;
}

#dispResources {
	border-left: 8px outset green;
	border-bottom: 8px outset green;
	border-bottom-left-radius: 8px;
	width: 290px;
	height: 25px;
	position: absolute;
	right: 0;
	top: 0;
}

#fight {
	position: absolute;
	border-right: 8px inset green;
	border-bottom: 8px inset green;
	width: 20.6%;
	height: 518px;
}

#villageShop {
	position: absolute;
	border-left: 8px inset green;
	border-top: 8px outset green;
	border-top-left-radius: 8px;
	border-bottom: 8px outset green;
	border-bottom-left-radius: 8px;
	width: 102px;
	height: 172px;
	right: 0;
	bottom: 133px; 
}

#openMap {
	position: absolute;
	border: 2px outset gold; 
	width: 10.5%;
	left: 44.8%;
	top: 9.3%;
}

#btn_village {
	position: absolute;
	left: 54px;
	top: 170px;
}

#btn_town {
	position: absolute;
	left: 240px;
	top: 115px;
}

#btn_city {
	position: absolute;
	left: 250px;
	top: 300px;
}

#btn_stopFight {
	position: absolute;
	left: 178px;
	top: 200px;
}

#map {
	position: absolute;
	border: 8px outset green;
	border-radius: 8px;
	width: 400px;
	height: 422px;
	left: 20.5%;
	top: 12.6%;
}

.hide {
	display: none;
}

.transparency {
	opacity: 0.4;
}

.btn_recruit {
	float: left;
	width: 161px;
	text-align: left;
	font-size: 10px;
}

.backgroundColor {
	background-color: lightgreen;
}

.buttonClass {
	border-top: 1px outset green;
	border-bottom: 1px outset green;
}






